<div class="home__container">
    <app-card
    gameImg="./../imgs/bt-5.jpg"
    gameLabel="Digital"
    gameType="DIGIRAL | PS5 | PS4"
    gamePrice="R$"
    ></app-card>

    <app-card
    gameImg="./../imgs/bt-4.jpg"
    gameLabel="Exclusivo"
    gameType="DISC | PS4"
    gamePrice="R$ 57,90"
    ></app-card>
    <app-card
    gameImg="./../imgs/bt-bad-company-2.jpg"
    gameLabel="Exclusivo"
    gameType="DIGITAL"
    gamePrice="R$ 369,90"
    ></app-card>

    <app-card
    gameImg="./../imgs/ac-cover.jpg"
    gameLabel="Exclusivo"
    gameType="DIGITAL"
    gamePrice="R$ 400.289,22"
    ></app-card>    
</div>