<div class="menu__container">
    <div class="menu__logo">
        <img src="./../imgs/ps-logo.png" alt="" width="140px" height="32px">
    </div>

    <div class="menu__items">
        <ul>
            <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Youtube</a></li>
            <li><a href="https://www.linkedin.com/in/moraniel/" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/moraniel" target="_blank">GitHub</a></li>
        </ul>
    </div>

</div>